<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
 
  <a class="navbar-brand d-flex align-items-center" href="#">
    <i class="fa-solid fa-bug text-danger me-2"></i>
    <span class="fw-bold">devTinder</span>
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav me-auto ms-4 mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home">
          <i class="fa-solid fa-house me-1"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="auth">
          <i class="fa-solid fa-fire me-1"></i> Matches
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="messages">
          <i class="fa-solid fa-comment-dots me-1"></i> Messages
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto align-items-center">
      <li class="nav-item me-3">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-bell"></i>
        </a>
      </li>

      <li class="nav-item dropdown">
        <ng-container *ngIf="user$ | async as user">
          <a
            class="nav-link dropdown-toggle d-flex align-items-center"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            <img *ngIf="user.image; else defaultIcon" [src]="user.image" alt="avatar" class="avatar me-2" />
             <!-- <img src="https://wallpapers.com/images/hd/bholenath-hd-lord-shiva-in-nature-llsw6j6nm0jtl4xz.jpg" alt="user.image" class="avatar me-2" /> -->
            <ng-template #defaultIcon>
              <i class="fa-solid fa-user-circle fs-4 me-2"></i>
            </ng-template>
            <span>{{ user.firstName }}</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" routerLink="profile">
                <i class="fa-solid fa-user me-2"></i> Profile
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item text-danger" (click)="logout()">
                <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
              </a>
            </li>
          </ul>
        </ng-container>
      </li>
    </ul>
  </div>
</nav>
