.navbar {
  height: 60px;
}

.nav-link {
  font-weight: 500;
}

.dropdown-menu {
  min-width: 180px;
}

/* Avatar image for header */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
}
