<footer class="navbar navbar-dark bg-dark fixed-bottom px-4">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <div class="d-flex align-items-center">
      <i class="fa-solid fa-bug text-danger me-2"></i>
      <span class="fw-bold text-light">devTinder</span>
    </div>

    <div class="text-secondary small">
      © {{ currentYear }} devTinder
    </div>

    <div class="d-flex align-items-center">
      <a class="nav-link text-secondary me-2" href="https://github.com/Ananya290">
        <i class="fa-brands fa-github"></i>
      </a>
      <a class="nav-link text-secondary me-2" href="https://www.linkedin.com/in/ananya-shukla-966ba51b2/">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a class="nav-link text-secondary" href="https://www.instagram.com/ananyashukla7000/">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>

  </div>
</footer>
